@charset "utf-8";
/* CSS Document */

body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "sans-serif";
	color: #FFFFFF;
	background-color: #000000;
	text-align: justify;
	
       }
content {
	font-size: 2 em;
	color: #FFFFFF;
}

/* nav bar */
nav {
  margin:0 auto;
  width:100%;
  height:auto;
  display:inline-block;
  background: #9909BD;
	
  }

nav ul {
  color: #000000;
  margin:0;
  padding:0;
  list-style-type:none;
  float:left;
  display:inline-block;
}

nav ul li {
  color: #000000;
  position:relative;
  margin:0 20px 0 0;
  float:left;
  display:inline-block;
}

li > a:after { 
	content: ' »';
	color: #FFFFFF;
	         
                 }

li > a:only-child:after { content: ''; 
	
 			}

nav ul li a {
  color: #FFFFFF;
  padding:20px;
  display:inline-block;
  text-decoration:none;
}

nav ul li a:hover {
  opacity:0.5;
}

nav ul li ul {
  color: #000000;
  display:none;
  position:absolute;
  left:0;
  background:#9909BD;
  float:left;
}

nav ul li ul li {
  width:100%;
  border-bottom:1px solid rgba(255,255,255,.3);
}

nav ul li:hover ul {
  display:block;
}



/* end nav bar */
.h1 {
	text-align: center;
	color: #5BFC7D;
	text-decoration: underline;
	
}




